{{#if hasBlock}}
  {{#if errorThrown}}
    <div class="lazy-image-error-message">{{defaultErrorText}}</div>
  {{else}}
    <div class="lazy-image-placeholder">{{yield}}</div>
  {{/if}}
{{else}}
  {{#if errorThrown}}
    <div class="lazy-image-error-message">{{defaultErrorText}}</div>
  {{else}}
    <div class="lazy-image-placeholder"></div>
  {{/if}}
{{/if}}

{{#if useDimensionsAttrs}}
  <img class="{{className}}" src={{lazyUrl}} alt="{{alt}}" title="{{title}}" height={{height}} width={{width}} />
{{else}}
  <img class="{{className}}" src={{lazyUrl}} alt="{{alt}}" title="{{title}}"/>
{{/if}}
